.root {
  min-height: 800px;
  h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .content {
    background: url(../../assets/icons/background-loso.png);
    background-repeat: no-repeat;
    padding-bottom: 95px;
    min-height: 800px;
    .layout {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 13px;

      padding: 36px 20px;

      border-radius: 20px;
      background-color: #8f86f5;
    }
  }
}
