.root {
  min-height: 800px;
  padding: 48px 50px 60px 50px;
  position: relative;
  background: #8f86f5;
  color: #ffffff;
  border-radius: 20px;
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    margin-bottom: 21px;
    padding: 0 58px;
  }
  p {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 26px;
    padding: 0 58px;
  }
  img {
    position: absolute;
    top: -17px;
    right: 200px;
  }
}
