.card {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;

  width: 290px;
  height: 270px;

  overflow-wrap: break-word;

  padding: 33px 30px;
  background-color: #fff;
  border-radius: 20px;
}
