*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}
body {
  // background: url(assets/icons/background-loso.png);
  // background-size: center;
  // border: 2px solid red;
}
